.product-item {
  flex-grow: 1;
  margin: 8px 22px;

  @media screen and (min-width: 480px) {
    max-width: 268px;
  }

  .ant-card-body {
    text-align: center;

    .currency {
      margin-top: 8px;
      display: block;
    }
  }

  .fav-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 2;
  }
}
